@import "../../css/variables.scss";
		
/*@media screen and (max-width: $md) {
	font-size: 3.3em;
}
@media screen and (max-width: $sm) {
	font-size: 3.1em;
}
@media screen and (max-width: $xs) {
	font-size: 2.8em;
}*/

@mixin gradient {
	background: rgb(250,93,84);
	background: -moz-linear-gradient(90deg, rgba(250,93,84,1) 0%, rgba(235,40,101,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(250,93,84,1) 0%, rgba(235,40,101,1) 100%);
	background: linear-gradient(90deg, rgba(250,93,84,1) 0%, rgba(235,40,101,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa5d54",endColorstr="#eb2865",GradientType=1);
}

.tableWrapper {
	background:white;
	border-radius:3px;
	margin-bottom: 40px;
	padding: 20px;

	.inputCol {
		@media screen and (max-width: $sm) {
			margin-bottom: 20px;
		}
	}

	.inputIcon {
		margin-right: 10px;
	}

	.tableTitle {
		font-size: 24px;
		font-weight: 600;
		color: #43455C;
		line-height: 1.1em;
	}

	.tableBrandLink {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #CF3AA0!important;
	}

	.tableImage {
		width: 40px;
		height: 40px;
		object-fit: contain;
		object-position: center;
		border-radius:3px;
		background-color:white;
	}
}

.title {
	@include gradient;
	font-size: 32px;
	font-weight: bold;
	font-family: $font-family;
	line-height: 1.1em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.subtitle {
	font-size: 24px;
	font-family: $font-family;
	font-weight: 400;
	color:white;
	margin: 0;
	line-height: 1.1em;
}

.titleFreeAnal {
	font-weight: bold;
	margin: 0 0 15px 0;
	text-align: center;
	line-height: 1.1em;
}
.analSubheader {
	margin: 0 0 16px 0;
	text-align: center;
	font-family: $font-family;
	font-size: 22px;
	font-weight: 400;
	color:white;
	margin-bottom: 40px;
}

.advantagesWrapper {
	margin-bottom: 60px;
	@media screen and (max-width: $xs) {
		display: none!important;
	}

	.advantage {
		display: flex;
		flex-direction: column;
		align-items: center;

		.advantageIconWrapper {
			@include gradient;
			position: relative;
			width: 48px;
			height: 48px;
			border-radius: 3px;
			display: flex;
			align-items:center;
			justify-content: center;
			margin-bottom: 15px;
		}

		.advantageTitle {
			position:relative;
			color: white;
			font-size: 22px;
			font-weight: 400;
			text-align: center;
		}
	}
}

.botWrapper {
	position:relative;
	display: flex;
	@media screen and (max-width: $md) {
		flex-direction: column-reverse;
		align-items: center;
	}

	.botLeft {
		position:relative;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		@media screen and (max-width: $md) {
			width: 100%;
		}

		.iphone {
			position: relative;
			width: 100%;
			max-width: 480px;
		}

		.iphoneShadow {
			position:relative;
			//align-self: center;
			width: 100%;
			min-width: 600px;
			max-width: 480px;
			height: 60px;
		}
	}

	.botRight {
		position:relative;
		padding-left: 120px;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (max-width: $md) {
			margin-bottom: 24px;
			width: 100%;
			padding: 0;
			text-align: center;
		}

		.arrow {
			position:absolute;
			top:40%;
			left: 40px;
			@media screen and (max-width: $md) {
				display: none;
			}
		}

		.title {
			margin-bottom: 16px;
			font-weight: bold;
			line-height: 1.1em;
		}

		.description {
			font-size: 16px;
			color:white;
			font-weight: 300;
			line-height: 1.4em;
			margin-bottom: 40px;
		}

		.tgButton {
			position:relative;
			cursor: pointer;
			border: none;
			background-color: #2AA2DE;
			height: 70px;
			width: 100%;
			max-width: 375px;
			padding: 0 16px;
			display: flex;
			justify-content: center;
			align-items:center;
			@media screen and (max-width: $md) {
				margin: 0 auto;
			}

			& > div {
				margin-right: 16px;
				text-transform: uppercase;
				font-size: 15px;
				color:white;
				font-weight: bold;
			}
		}
	}
}


.dialog {
	border-radius: 0;
	border: 5px solid #F23F5F;

	.dialogTitle {
		font-size: 36px;
		color: #222222;
		font-weight: bold;
	}

	.dialogContent {
		font-size: 18px;
		color: #222222;
		font-weight: 400;
		padding-bottom: 30px;
	}

	.dialogClose {
		position: absolute;
		cursor: pointer;
		top: 25px;
		right: 25px;
	}
}



.breadcrumbs {
	.base {
		color: white;
	}
	.brand {
		color: #8977A6;
	}

	:global {
		.ant-breadcrumb-separator {
			color: #8977A6;
		}
	}
}

.brandShortInfo {
	position:relative;
	width: 100%;
	border-radius:3px;
	background-color:white;
	min-height: 130px;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-evenly;
	padding: 0 12px;
	margin-bottom: 10px;
	@media screen and (max-width: $sm) {
		padding: 10px 0;
	}

	.brandLogo, .brandInfoBlock {
		padding: 20px 8px;
		@media screen and (max-width: $sm) {
			width: 50%;
			padding: 10px 20px;
			text-align: center;
		}
		@media screen and (max-width: $xs) {
			width: 100%;
			padding: 10px 20px;
			text-align: center;
		}
	}

	.brandLogo {
		display: flex;
		align-items:center;
		justify-content: center;

		img {
			position:relative;
			flex: none;
			width: 80px;
			height: 80px;
			object-position: center;
			object-fit: contain;
			background-color:white;
		}
	}

	.brandInfoBlock {
		.brandInfoTitle {
			font-size: 24px;
			font-weight: 500;
			color: #43455C;
		}
		.brandInfoLabel {
			font-size: 14px;
			font-weight: 400;
			color: #798097;
		}
		.rate {
			color: #43455C;
		}
	}
}

.howWeCountTitle {
	font-size: 36px;
	color: white;
	margin-bottom: 15px;
	line-height: 1em;
	font-weight: bold;
}

.howWeCountDescription {
	font-size: 16px;
	color: white;
	line-height: 1.5em;
	font-weight: 300;
}

.loading {
	position:relative;
	width: 100%;
	height: 55vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.spinWrapper {
		position:relative;
		width: 50px;
		height: 50px;
		padding: 15px;
		border-radius: 100%;
		background: white;
	}
}