@import "../../css/variables.scss";

.root {
	position: relative;
	width: 100%;

	&[variant="big"] {
		height: 60px;
	}

	&[variant="normal"] {
		height: 46px;
	}

	&[variant="small"] {
		height: 32px;
	}

	&[variant="tiny"] {
		height: 16px;
	}
}