@import "../../css/variables.scss";

		
/*@media screen and (max-width: $md) {
	font-size: 3.3em;
}
@media screen and (max-width: $sm) {
	font-size: 3.1em;
}
@media screen and (max-width: $xs) {
	font-size: 2.8em;
}*/

.root {
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: $xs) {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.logoWrapper {
		position:relative;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;

		.logo {
			position: relative;
			height: 20px;
			margin-right: 12px;
		}

		.text {
			position: relative;
			height: 15px;
		}
	}

	.about {
		position:relative;

		.button {
			position:relative;
			cursor: pointer;
			color: white;
			font-weight: 500;
			padding: 0 0 4px 0;
			text-transform: uppercase;
			background-color: transparent;
			border: none;
			font-family: $font-family;
			font-size: 15px;
			border-bottom: 3px solid #F23F5F;
		}
	}
}