@import "./variables.scss";
@import "~antd/dist/antd.css";

html, body {
	margin: 0;
	width: 100%;
	height: unset;//ant...
	min-height: 100vh;
	font-family: $font-family;
	font-size: 16px;
	letter-spacing: -0.01em;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);

	background-color:#1D0249;
	background: -moz-linear-gradient(180deg, rgba(29,2,73,1) 80%, rgba(27,11,53,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(29,2,73,1) 80%, rgba(27,11,53,1) 100%);
	background: linear-gradient(180deg, rgba(29,2,73,1) 80%, rgba(27,11,53,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d0249",endColorstr="#1b0b35",GradientType=1);
}

* {
	box-sizing: border-box;
	outline: none!important;
}

#root {
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}