@import "./variables.scss";

		
/*@media screen and (max-width: $md) {
	font-size: 3.3em;
}
@media screen and (max-width: $sm) {
	font-size: 3.1em;
}
@media screen and (max-width: $xs) {
	font-size: 2.8em;
}*/

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.w100 {
	width: 100%;
}

.graphDisabled {
	opacity: .5;
	pointer-events: none;
}