@import "../../css/variables.scss";

		
/*@media screen and (max-width: $md) {
	font-size: 3.3em;
}
@media screen and (max-width: $sm) {
	font-size: 3.1em;
}
@media screen and (max-width: $xs) {
	font-size: 2.8em;
}*/
.logoWrapper {
	position:relative;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	.logo {
		position: relative;
		height: 20px;
		margin-right: 12px;
	}

	.text {
		position: relative;
		height: 15px;
	}
}

.link {
	color: #F2425E;
	font-size: 13px;
	padding-bottom: 2px;
	border-bottom: 1px solid #F2425E;
	text-decoration: unset;

	&:hover {
		color: #F2425E;
	}
}

.root {
	position: relative;
	width: 100%;
	min-height: 250px;
	@media screen and (max-width: $md) {
		margin: 60px 0 16px;
	}

	.row {
		position: relative;
		min-height: 250px;

		@mixin alignItemsCenter {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.c1, .c2, .c3, .c4 {
			@include alignItemsCenter;
			@media screen and (max-width: $md) {
				margin-bottom: 24px;
				align-items:center;
			}
		}

		.c1 {
			.anyQuestions {
				color: white;
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 16px;
			}

			.socialWrapper {
				position:relative;
				display: flex;
				align-items:center;

				.link {
					margin-right: 20px;
				}
				.divider {
					position:relative;
					width: 1px;
					height: 42px;
					background-color: #979797;
					margin-right: 15px;
				}
			}
		}

		.c2, .c4 {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items:center;

			.logoWrapper {
				margin-bottom: 28px;
				@media screen and (max-width: $md) {
					margin-bottom: 16px;
				}
			}
		}

		.c3 {
			.subscribeInputWrapper {
				position:relative;
				display: flex;
				flex-wrap: nowrap;
				height: 44px;
				width: 100%;
				max-width: 370px;
				margin-bottom: 16px;

				.subscribeInput {
					position:relative;
					border: none;
					width: 60%;
					height: 100%;
					border-radius: 5px 0 0 5px;
					padding: 0 22px;
					font-family: $font-family;
					font-size: 16px;
				}

				.subscribeButton {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					width: 40%;
					color: white;
					cursor: pointer;
					font-weight: bold;
					font-size: 16px;
					border: none;
					overflow: hidden;
					border-radius: 0 99px 99px 0;
					background: rgb(250,93,84);
					background: -moz-linear-gradient(90deg, rgba(250,93,84,1) 0%, rgba(235,40,101,1) 100%);
					background: -webkit-linear-gradient(90deg, rgba(250,93,84,1) 0%, rgba(235,40,101,1) 100%);
					background: linear-gradient(90deg, rgba(250,93,84,1) 0%, rgba(235,40,101,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa5d54",endColorstr="#eb2865",GradientType=1);
				}
			}

			.subscribeDescription {
				color: white;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}